<<<<<<< HEAD:ancien devweb margaux/style/style.css
*
{
	font-family: 'Lobster', cursive;
 
}
body{background:#f1f2f6!important;}
=======

body
	{
		
		/*background: url(../im/fond_tatoo.jpg);*/
		background-size: all auto;
		font-family: "verdana", sans-serif;
	}
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css



/* -----------------------Footer-------------------------- */

.site
{
	margin-left: 80%;
  float : left;
  margin-top: 20px;
}


.icon
{

	width: 25px;
	height: 25px;
	float: left ;
}

footer
{
  background-color: #7F0509;
<<<<<<< HEAD:ancien devweb margaux/style/style.css
  margin-top: 50px;
  box-shadow: 0 -5px 50px grey;
  
=======
  height: 200px;
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css
}

footer div div p.text
{
	color :  	#fff;
<<<<<<< HEAD:ancien devweb margaux/style/style.css
}

#bas p
{
    text-align: center;
    font-size: 10px;
    color : #fff;
}




#page 
{
	width : 60%;
	background-color : #fff;
	margin-left : auto;
	margin-right : auto;
	margin-top : 50px;
	padding: 10px 10px 70px 10px;
  border : solid #bebebe 1px;

=======
	margin-left: 50px;
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css
}

#page img
{
	padding-left: auto;
	padding-right: auto;

}

header 
{
  background-color: #7F0509 ;
  height : 250px;
}

/*-----------------------------------------------Menu---------------------------------------------------*/


#menu 
{
	height : 130px;
<<<<<<< HEAD:ancien devweb margaux/style/style.css

=======
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css


}
#menu li
{
	font-size : 20px;
	background-color : #fff;
}

#menu li:hover
{
	background-color : #000;
}

#menu li a
{
<<<<<<< HEAD:ancien devweb margaux/style/style.css

	color : #fff;
=======
	color : inherit ;
	color : #000;
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css
  font-weight: bold ; 


}

#menu li a:hover
{
	color : #8C060A;
}

#logo
{
	height: 100px;
	width : 100px;
	margin-bottom : 30px;
  margin-top: 30px;
}

/*-----------------------------------------------Page piercing -----------------------------------------*/


main
{
<<<<<<< HEAD:ancien devweb margaux/style/style.css
  background-color:#fff;
  width : 60%;
  margin-left:  auto;
  margin-right: auto;
  margin-top : 50px;
  padding: 10px 10px 70px 10px;
  border : solid #bebebe 1px;
=======
  background-color:#E4E4E4
>>>>>>> parent of f8b58f4... efef"rg'r"gbgrtr"r:style/style.css
;
}
#forminsc
{
	margin-left : 120em;
	margin-top : -25em;
  color : #fff;

}

#formcon
{
	margin-left : 133em;
	margin-top : -21.4em;
  color : #fff;
}

 #tab
      {
        width : 500px;
        font-size: medium;
        text-align:left;
        margin-right: auto;
        margin-left : auto;

      }

      #tab h2
      {
        text-decoration: underline overline #8C060A;
        padding-top : 50px;
        text-align :center;
      }

      table
      {
      border: medium solid  #8C060A;
      border-collapse: collapse;
      width: 100%;
      }

      th
      {
      font-family: monospace;
      border: thin solid #8C060A;
      width: 50%;
      padding: 5px;
      }

      td
      {
      font-family: sans-serif;
      border: thin solid #8C060A;
      width: 50%;
      padding: 5px;
      text-align: center;
      background-color: #ffffff;
      }

      caption
      {
      font-family: sans-serif;
      }

      #tarif
      {
      	text-align : center;
      }

/*----------------------------------------Page acceuil------------------------------*/ 

#imageprin
{
  margin-top: 10em;
  margin-left: 26em;
  

}

#textacc
{
  text-align:  center;
  font-size: 20px;

}

h2
{
  text-align:  center;
  font-size: 90px;

}